@tailwind base;
@tailwind components;
@tailwind utilities;

body, 
html { 
	min-height: 100%;
	height: 100%;
	font-family: "Inter", sans-serif;
	color: #232323;
}
.screen-reader-text, .nocomments { display: none; }
.nav-menu a {
	text-decoration: underline;
	text-decoration-color: white;
	text-decoration-style: solid;
	text-decoration-thickness: 1px;
}
.nav-menu .current-menu-item > a { 
	text-decoration-color: #FFA226;
}
.site-name {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.entry-content *:not(li) + *:not(li) { margin-top: 15px; }
.entry-content ul { padding-left: 15px; }
.entry-content ul > li { list-style: inside; }
.entry-content ol { padding-left: 15px; }
.entry-content ol > li { list-style: inside decimal; }

.post-list .entry-item:first-child {
	border-top: 0 !important;
}

.post-list .entry-item + .entry-item {
	margin-top: 15px;
	padding-top: 15px;
}

table {
	table-layout: fixed;
	width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 10px;
}

table th {
	line-height: 1.2;
	background-color: #eeeeee;
}

/**
 * .aligncenter
 */
.aligncenter {
	clear: both;
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/**
 * .alignright
 */
.alignright {
	margin-top: 0;
	margin-bottom: var(--global--spacing-vertical);
}

@media only screen and (min-width: 482px) {
	.alignright {

		/*rtl:ignore*/
		float: right;

		/*rtl:ignore*/
		margin-left: var(--global--spacing-horizontal);
	}

	.entry-content > .alignright {
		max-width: calc(50% - var(--responsive--alignright-margin));
	}
}

[class*=inner-container] > .alignleft + *,
[class*=inner-container] > .alignright + * {
	margin-top: 0;
}

/**
 * .alignwide
 */
.alignwide {
	clear: both;
}

/**
 * .alignfull
 */
.alignfull {
	clear: both;
}
